/* src/ExpenseForm.module.css */


/* .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
} */

.control {
    flex: 1;
    min-width: 10rem;
    margin-bottom: 1.2rem;
    position: relative;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--dark);
}

.control input {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    color: var(--dark);
    background-color: #fff;
}

/* src/ExpenseForm.module.css */
.control select {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    color: var(--dark);
    background-color: #fff;
    appearance: none;
    /* Removes default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23063437" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem;
}

.control select:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.actions button {
    padding: 0.5rem 1.5rem;
    font: inherit;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover,
.actions button:active {
    background-color: var(--dn-dark);
    border-color: var(--dn-dark);
}